body {
    background-image: url(/img/kagemusha.jpg);
    background-size:cover;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    height:100vh;

}


.container{
    max-width:50%;
    margin:auto;
}

.container::before{
    opacity:80%;
    background-color: aliceblue;
}
h1{
    color: purple;
    font:  bold;
    
}
h2 {
font-size:39px;
color: rgb(194, 72, 92);
}

h3{
    color: rgb(194, 72, 92);
}
button{
	border: solid 3px;
    border-radius: 7px;
   	padding-top: 9px; 
	padding-bottom: 9px; 
    font-weight: bold;
    color: pink;
    width: 300px;
}

#increment-btn {
	background: purple;
    border-color: pink;
}

#save-btn {

    background: pink;
    border-color: purple;
    color: purple;
}

